@font-face {
	font-family: "Regular";
	src: local("VisbyCF"),
		url("../fonts/VisbyCF/VisbyCF-Regular.otf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Bold";
	src: local("VisbyCF"),
		url("../fonts/VisbyCF/VisbyCF-Bold.otf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Heavy";
	src: local("VisbyCF"),
		url("../fonts/VisbyCF/VisbyCF-Heavy.otf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Medium";
	src: local("VisbyCF"),
		url("../fonts/VisbyCF/VisbyCF-Medium.otf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Light";
	src: local("VisbyCF"),
		url("../fonts/VisbyCF/VisbyCF-Light.otf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "MediumOblique";
	src: local("VisbyCF"),
		url("../fonts/VisbyCF/VisbyCF-MediumOblique.otf") format("truetype");
	font-weight: bold;
}

.PhoneInputInput {
	background: #f1f6ff;
}

.font-face {
	font-family: "Regular";

	.light {
		font-family: "Light";
		transition: all 0.3s ease-in-out;

		&:hover {
			font-family: "Bold";
		}
	}

	.bold {
		font-family: "Heavy";
	}

	.medium {
		font-family: "Medium";
	}

	.regular {
		font-family: "Bold";
	}

	.italic {
		font-family: "MediumOblique";
	}
}
