@import "assets/styles/variables";

.measurement-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  background-color: #fff;
  position: relative;

  @media not all and (min-width: 768px) {
    height: 70vh;
  }

  .measurement-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .information {
      position: relative;
      top: 20rem;
      text-align: center;

      @media not all and (min-width: 768px) {
        top: 15rem;
      }
    }

    .video-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 450px;
      height: 450px;
      position: fixed;
      top: 4rem;

      @media not all and (min-width: 768px) {
        top: 5rem;
        height: 280px;
      }

      &::before {
        // todo
        content: "";
        // background: #9ea2ff;
        opacity: 0.25;
        filter: blur(100px);
        width: 555px;
        height: 555px;
        border-radius: 100%;
        position: absolute;
      }

      &::after {
        // todo
        content: "";
        border: 8px solid #9ea2ff;
        width: 300px;
        height: 400px;
        border-radius: 10rem;
        position: absolute;
        border: 4px solid #9ea2ff;
        // box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.75);

        @media not all and (min-width: 768px) {
          height: 300px;
          width: 200px;
        }
      }

      .video-wrapper {
        width: 300px;
        height: 400px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10rem;
        overflow: hidden;
        border: 4px solid #9ea2ff;

        @media not all and (min-width: 768px) {
          height: 300px;
          width: 200px;
        }

        .video,
        .canvas {
          height: 100%;
          width: auto;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          position: absolute;

          &.invert {
            transform: translate(-50%, -50%) scaleX(-1);
          }

          &.vertical {
            height: auto;
            width: 100%;
          }
        }

        .canvas {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%) scaleX(-1);
          z-index: 10;
          height: 100%;
        }
      }
    }
  }
}
